---
dg-publish: true
---

<3.3 = negative for lead. Considered a safe level
3.3-65 = In-between. The range between 3.3 µg/dL and 65 µg/dL indicates varying levels of lead exposure, requiring monitoring and potentially further medical intervention.
65+ = High. Indicates a high level of lead in the blood, requiring immediate attention and further testing.